body{
    margin: 0;
    padding: 0;
}
#page-header {
    background: url("../images/bg-wave1.jpg") repeat scroll center top #649dca;
    padding: 3.57143rem 0;
    text-align: center;
    width: 100%;
}
#page-header-content {
    color: #154b7d;
    display: block;
    font-family: "Comfortaa",Helvetica,sans-serif;
    font-size: 20px;
    line-height: 1.3em;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 40px;
}
.overlay-form{
    display: none;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/processing.gif) no-repeat scroll center center #CAE9F7;
    opacity: 0.6;
}
.entry-title {
    color: #fff;
    font-family: "Comfortaa",Helvetica,sans-serif;
    font-size: 2.14286rem;
    margin-bottom: 0.5rem;
}
a {
    color: #91b72c;
    transition: all 0.5s ease 0s;
    outline: none;
}
a:visited, a:focus, a:active, a:hover {
    outline: medium none;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}
.btn-style {
    background: none repeat scroll 0 0 #aed637;
    border-bottom: 3px solid #7f9b13;
    border-radius: 0 0 4px 4px;
    color: #fff;
    float: none;
    font: 13px/1.2em "Comfortaa",Helvetica,sans-serif;
    letter-spacing: 0.1em;
    padding: 12px;
    text-align: center;
    text-shadow: 1px 1px 0 #79a11b;
    text-transform: uppercase;
    width: auto;
}
.btn-style:hover {
    background: none repeat scroll 0 0 #79a11b;
    border-bottom-color: #6a8f13;
    text-decoration: none;
}
.btn-style-2{
    border: medium none !important;
    padding: 7px 12px !important;
    background-color: #e6e6e6;
    background-image: -moz-linear-gradient(center top , #f4f4f4, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
    color: #7c7c7c;
    font-size: 0.785714rem;
    font-weight: normal;
    line-height: 1.42857;
    padding: 0.428571rem 0.714286rem;
}
.site-header {
    clear: both;
    padding: 0;
}
#logo {
    clear: none;
    display: inline-block;
    margin: 2.1em auto;
}
#header-contact-info{
    margin-top: 5px;
}
#logo {
    background: url("../images/secondwavelogo.png") no-repeat scroll center center transparent;
    clear: both;
    display: block;
    height: 65px;
    /*margin: 2.14286rem auto;*/
    width: 296px;
}
#main-menu{
    border-radius: 0;
    background: none repeat scroll 0 0 #2971a8;
    border-bottom: 3px solid #194f85;
    margin: 0;
    padding: 0 1rem;
    text-align: center;
    z-index: 9999 !important;
    border-top: none;
}
.main-navigation li a {
    border-bottom: 0 none;
    color: #fff;
    line-height: 3.69231;
    padding: 0 1.42857rem;
    text-transform: uppercase;
    white-space: nowrap;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background: none repeat scroll 0 0 #194f85;
    color: #fff;
    font-weight: bold;
}
.main-navigation li ul li a {
    background: none repeat scroll 0 0 #2f6ba7;
    border-bottom: 1px solid #4f8bc7;
    line-height: 2.18182;
    padding-top: 5px;
    padding-bottom: 5px;
}
.archive-title, .page-title, .widget-title, .entry-content th, .comment-content th {
    color: #444;
    font-family: "Comfortaa",Helvetica,sans-serif;
    font-size: 1.42857em;
    font-weight: normal;
}
footer[role="contentinfo"] {
    background: none repeat scroll 0 0 #35383b;
    clear: both;
    color: #bfc3c7;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.71429rem;
    padding: 1.71429rem 0;
}
footer .widget-title {
    color: #fff;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.copyright-info {
    background: none repeat scroll 0 0 #2b2c2c;
    color: #bfc3c7;
    display: block;
    line-height: 1.4em;
    margin: 0;
    padding: 1.5rem 0;
    text-align: center !important;
    width: 100%;
}
.floatRight{
    float: right;
}
.floatLeft{
    float: left;
}
.form-container {
    background: url("../images/paper-pattern.jpg") repeat scroll 0 0 transparent;
    border-radius: 4px;
    display: block;
    margin: 50px auto 50px;
    overflow: hidden;
    padding: 10px 15px;
    /*width: 900px;*/
}
.form-control {
    background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #dddddd;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.form-group sup {
    color: #bc1212;
    float: right;
    font-size: 145%;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 19px;
}
label.error{
    color: #bc1212;
    font-weight: normal;
}
.container-default {
    margin-left: auto;
    margin-right: auto;
}
@media (max-width:768px){
    #header-information{
        text-align: center;
    }
    .btn-donate-header{
        display: block;
        overflow: hidden;
        clear: both;
    }
    #header-information .btn-style{
        margin-bottom: 5px;
    }
    #masthead{
        margin-bottom: 10px;
    }
    .navbar-inverse .navbar-brand{
        color: #fff;
    }
    .navbar-inverse .navbar-toggle {
        border-color: #fff;
    }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #aed637;
    }
}
@media (min-width:768px){

    #nav-main.navbar-nav {
        width: 100%;
        text-align: center;
    }
    #nav-main.navbar-nav > li {
        float: none;
        display: inline-block;
    }
    .navbar-brand{
        display: none;
    }
    #header-information {

    }
    #header-information .btn-header{
        display: inline-block;
        float: right;
        margin-left: 10px;
    }
    .container-default {
        width: 900px;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}